@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E4C59E;
}





.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: left;
    width: 100%;
    height: 100%;
    background-color: #322C2B;
    padding-top: 2rem;
  
}
 .header-links-box{
    display: flex;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center; 
 }

 .link{
    text-decoration: none;
    font-size: 3rem;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
 }

.logo{
    height: 17rem;
}







.banner-section{
    border: 5px solid rgb(0, 0, 0);
    width: 100%;
    height: 45vw;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.bar-image{
    width: 100%;
}

.banner-text{
    position: absolute;
    left: 15%;
    bottom: 15%;
    color: rgb(253, 253, 253);
    font-size: 10rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}




.section1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.textbox1{
    width: 20%;
    height: 100%;
    text-align: center;
    padding-right: 10rem;
}

.section1-text-header{
    font-size: 4rem;
    color: rgb(88, 26, 26);
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.section1-text{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

.section1-image{
    width: 60rem;
    border-radius: 20px;
}






.section2{
    padding-top: 6vw;
    padding-bottom: 10vw;
    background-color: #473b39;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2-header-text{ 
    color: aliceblue;
    font-size: 4rem;
    padding-bottom: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.textbox2{
    width: 50%;
    height: 100%;
    background-color: #131010;
    text-align: center;
    padding: 6rem;
}

.section2-text{
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    
}








.footer{
    padding-top: 1vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100%;
    background-color: #322C2B;
    padding-left: 10rem;
}

.footer-links-box{
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.footer-text{
    padding-top: 1rem;
    justify-content: left;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.social-medialinks{
    padding-top: 1vw;
    display: flex;
    gap: 3rem;
    justify-content: center; 
    padding-right: 20rem;
}

.socials{
    height: 3vw;
}

.credit{
    height: 1px;
}






