@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3e1c8;
}

/*this is the css for creating the header on everypage */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  background-color: #322c2b;
  padding-top: 1rem;
  width: 100%;
}
.header-links-box {
  display: flex;
  gap: 3rem;
  padding-left: 5rem;
  justify-content: left;
}
.link {
  text-decoration: none;
  font-size: 2rem;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}
.link:hover{
  text-decoration: underline;
  transition: ease;
}
.logo {
  height: 7rem;
  padding-bottom: 1rem;
}

/*homepage*/

/*banner-section */
.banner-section {
  border: 5px solid rgb(0, 0, 0);
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  height: 35vw;
  width: 100vw;
}
.banner-text {
  position: absolute;
  left: 17vw;
  color: rgb(253, 253, 253);
  font-size: 8vw;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.bar-image {
  width: 100vw;
}

/*section1*/
.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35vw;
  width: 100vw;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.textbox1 {
  width: 35vw;
  text-align: center;
  padding-right: 10rem;
}
.section1-header {
  font-size: 3rem;
  color: rgb(88, 26, 26);
  font-family: "Montserrat", sans-serif;
}
.section1-text {
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: rgb(105, 54, 54);
}
.section1-image {
  width: 35vw;
  border-radius: 20px;
}

/*section2*/
.section2 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #473b39;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30vw;
  width: 100vw;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.section2-header-text {
  color: aliceblue;
  font-size: 3rem;
  padding-bottom: 5rem;
  font-family: "Montserrat", sans-serif;
}
.textbox2 {
  width: 50%;
  height: 100%;
  background-color: #131010;
  text-align: center;
  padding: 5rem;
}
.section2-text {
  color: aliceblue;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

/*about page*/

/*this page only contains 1 section split into with a text box containing the paragraphs with headers and a image box containing the images stacked*/
.about-section {
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.about-text-box {
  width: 30rem;
  text-align: center;
}
.about-header {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(88, 26, 26);
}
.about-text {
  padding-top: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: rgb(105, 54, 54);
}
.image-box {
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  width: 40vw;
  gap: 3rem;
}
.images {
  border-radius: 20px;
}

/* menu page*/

/*this page is split into 2 sections the drinkssection and the foodsection both contain the menucards*/
/*the only diffrence between the 2 sections is the text used and the headers*/
.drinksection {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 100vw;
  width: 100vw;
}
.drinktext-header {
  font-family: "Montserrat", sans-serif;
  color: rgb(105, 54, 54);
  font-size: 3rem;
}
.drinktext {
  font-family: "Montserrat", sans-serif;
  color: rgb(105, 54, 54);
  font-size: 2rem;
}

.foodsection {
  background-color: #473b39;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 100vw;
  width: 100vw;
}
.foodtext-header {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: whitesmoke;
  font-size: 3rem;
}
.foodtext {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: whitesmoke;
}


/*each of the menu cards are split up into 2 halfs a item info box and corosponding image*/
/*i have also included the page header as a seprate class*/
.pageheader {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(88, 26, 26);
}
.menucards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60vw;
  gap: 3rem;
}
.item-info {
  width: 50%;
  text-align: center;
}
.item-images {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}

/*this is the standard css for creating the footer on everypage */
.footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  height: 100%;
  background-color: #322c2b;
  padding-left: 10rem;
}
.footer-links-box {
  width: 10rem;
  display: flex;
  flex-direction: column;
}
.footer-link {
  padding-top: 1rem;
  justify-content: left;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
.footer-link:hover{
  text-decoration: underline;
  transition: ease;
}
.social-medialinks {
  padding-top: 1vw;
  display: flex;
  gap: 3rem;
  justify-content: left;
  padding-right: 20rem;
}
.socials {
  height: 3rem;
}
